doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        title Document
    body
        div(class="container")
            article(class="about")
                div(class="circles")
                    div(class="white_with_border")
                        div(class="blue")
                p(class="name") Anton
                h1(class="surname") Shevchenko
                h2(class="job") Graphic designer


            article(class="block")
                header(class="block__header")
                    img(src="./assets/images/PROFILE_ICON.png")
                    p Profile
                    div(class="blue_rectangle")
                p(class="block__text")  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                        |Aenean commodo ligula eget dolor. 
                                        |Aenean massa. 
                                        |Cum sociis natoque penatibus et magnis dis parturient montes, 
                                        |nascetur ridiculus mus. Donec quam felis, ultricies nec, 
                                        |pellentesque eu, pretium quis, sem. 
                                        |Nulla consequat massa quis enim. 
                                        |Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
                                        |In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. 
                                        |Nullam dictum felis eu pede mollis pretium. 
                                        |Integer tincidunt. 
                                        |Cras dapibus. Vivamus elementum semper nisi. 
                                        |Aenean vulputate eleifend tellus. 
                                        |Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. 
                                        |Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. 
                                        |Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. 

