@import "./fonts.scss";

body {
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    font-family: 'Myriad-Pro';
    max-width: 1920px;
    min-width: 320px;
    max-height: 150vw;
    background-color: #ffffff;
    padding-top: 5vw;
    padding-left: 3vw;
    padding-right: 2vw;
    display: flex;
    flex-flow: column wrap;
}

.about {
    width: 35%;
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 6vw;
}

.circles {
    width: 25vmax;
    height: 20vw;
    display: flex;
    justify-content: center;
}

.white_with_border {
    width: 18vw;
    height: 18vw;
    background-color: white;
    border: 2px solid #3d6cb0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    width: 16vw;
    height: 16vw;
    background-color: #3d6cb0;
    border-radius: 50%;
}

.name {
    font-family: "Myriad-Pro-Light-SemiExt";
    font-size: 4.5vw;
    margin-top: 2vw;
    margin-bottom: 0;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.surname {
    width: 97%;
    font-size: 5vw;
    margin-top: 0.5vw;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job {
    width: 16vmax;
    font-size: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
}

.block {
    width: 35%;
    height: 35vmax;
    margin-bottom: 0.5vw;
    margin-right: 5%;
}



.block__header {
    width: 100%;
    height: 6vw;
    display: flex;
    align-items: center;
    margin-bottom: 1.2vw;
}

.block__header__img {
    width: 6vmax;
}

.block__header_p {
    width: 17vmax;
    height: 2.28vw;
    color: #3d6cb0;
    font-size: 3vmax;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.999vw;
    margin-right: 0.68vw;
}

.blue_rectangle {
    width: 100vh;
    height: 0.5vw;
    background-color: #3d6cb0;
}

.block__text {
    width: 100%;
    height: 25vmax;
    font-size: 1.3vw;
    font-weight: 400;

    span {
        font-weight: 700;
    }
}

.block__table {
    width: 100%;

    td {
        height: 4vw;
        font-size: 1.5vw;
    }

    .firstColumn {
        font-weight: 700;
        color: #3d6cb0;
        width: 10vw;
    }
}

.block_contact {
    height: 28vw;
}

.block__skills {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.skills__section {
    margin: auto;
    width: 80%;
    height: 4vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2.12vw;
}

.skills__section_name {
    margin-top: 0;
    margin-bottom: 1.2vw;
    display: flex;
    justify-content: center;
    font-size: 2vw;
}

.skills__section__progress {
    display: flex;
    justify-content: space-between
}

.skills__section__progress__circle {
    width: 1.44vw;
    height: 1.44vw;
    background-color: #e6e6e6;
    border-radius: 50%;
}

.progress_circle_blue {
    background-color: #3d6cb0;
}

.leftColumn {
    width: 60%;
    height: 52vmax;

    .block__header {
        margin-bottom: 10%;
    }
}

.leftColumn__software {
    margin-top: 5%;
    height: 27vw;

    .block__header {
        margin-bottom: 1%;
    }
}

.block__leftColumn__ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.block__leftColumn_univercity {
    margin: 0;
    font-size: 2vw;
    margin-bottom: 0.9vw;

    span {
        color: #3d6cb0;
        margin-right: 1.54vw;
        font-weight: 700;
    }

    .company_name {
        color: #000;
    }
}

.block__leftColumn_univercity:before {
    content: '';
    height: 1.6vw;
    width: 1.6vw;
    display: inline-flex;
    align-items: flex-end;
    border-radius: 50%;
    background-color: #000;
    margin-right: 2vw;
}


.univercity_or_company_name {
    margin: 0;
    font-size: 2vw;
    font-weight: 400;
    margin-left: 3.7vw;
}

.block__leftColumn__text {
    margin: 0;
    height: 4.9vw;
    width: 95%;
    margin-left: 3.7vw;
}

.software__progress {
    width: 97%;
    height: 22vw;
    display: flex;
    flex-flow: column wrap;
}

.software__progress__block {
    width: 45%;
    height: 5vw;
    margin-bottom: 2vw;
}

.software__progress__block_name {
    font-size: 2vw;
    margin-bottom: 0.7vw;
    margin-top: 0;
}

.software__progress__block_progress {
    height: 2vw;
    width: 100%;
    background: #e6e6e6;
    color: #3d6cb0;
    margin: 0;
}

.software__progress__block_progress_left_column {
    margin-right: 10%;
}

.software__progress__block_progress::-webkit-progress-bar {
    background: #e6e6e6;
}

.software__progress__block_progress::-webkit-progress-value {
    background: #3d6cb0;
}

.software__progress__block_progress::-moz-progress-bar {
    background: #e6e6e6;
    color: #3d6cb0;
}